---
Checks: "bugprone-*,
         cert-*,
         -cert-dcl58-cpp,
         cppcoreguidelines-*,
         google-*,
         hicpp-*,
         -hicpp-signed-bitwise,
         llvm-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -readability-convert-member-functions-to-static,
         -readability-redundant-access-specifiers,
         -readability-identifier-length,
         -bugprone-easily-swappable-parameters"
         
WarningsAsErrors: ''
HeaderFileExtensions: ['', 'h','hh','hpp','hxx']
ImplementationFileExtensions: ['c','cc','cpp','cxx']
HeaderFilterRegex: ".*"
FormatStyle: file

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
  - key: "clang-tidy.*.IgnoreSystemIncludes"
    value: "false"